html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 550px;
    height: 260px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    margin: auto;
}

h1 {
    padding-top: 53px;
    padding-left: 51px;
    padding-right: 50.6px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 97.5723px;
    line-height: 24px;
    text-align: center;
}

h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 27px;
}

.unit-converter {
    width: 550px;
    height: 550px;
    background: #1F2937;
    margin: auto;
    margin-top: -32.7px;
}